@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
.bg{
    background-color: rgb(19, 2, 2);
    background-size: auto;
    color: white;
}

.course-heading{
    font-family: "Sans-Serif";
   margin-top: 10px;
    font-weight: 550;
}
.paragraph{
    font-family: "lato";
    font-size: 20px;
    
}

.main-course-head{
    font-family: "Sans-Serif";
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
}
.list{
    list-style: none;
}
.border-box{
    border-style: solid;
    background-color: rgb(45, 43, 43);
}

